{% extends "page.html" %}

{% block title %}About Nukecon{% endblock %}

{% block content %}
<div id="column">
<div class="main">
<p>
<strong>Nukecon</strong> is ... 
text 123 asd dsa text text 123 asd dsa text text 123 asd dsa text text 123 asd dsa text
text 123 asd dsa text text 123 asd dsa text text 123 asd dsa text text 123 asd dsa text
text 123 asd dsa text text 123 asd dsa text text 123 asd dsa text text 123 asd dsa text
</p>

<h2>Nadpis 2</h2>

<p>
text 123 asd dsa text text 123 asd dsa text text 123 asd dsa text text 123 asd dsa text
text 123 asd dsa text text 123 asd dsa text text 123 asd dsa text text 123 asd dsa text
text 123 asd dsa text text 123 asd dsa text text 123 asd dsa text text 123 asd dsa text
</p>

<p>
text 123 asd dsa text text 123 asd dsa text text 123 asd dsa text text 123 asd dsa text
text 123 asd dsa text text 123 asd dsa text text 123 asd dsa text text 123 asd dsa text
text 123 asd dsa text text 123 asd dsa text text 123 asd dsa text text 123 asd dsa text
</p>

<h2>Authors</h2>
<ul>
    <li>X</li>
    <li>Y</li>
    <li>Z</li>
</ul>

<br/>
<a href="/">Back to main page</a>
</div>
</div>
{% endblock %}
