{% extends "page.html" %}

{% block title %}NukeCon{% endblock %}

{% block content %}
<div id="intro">
<strong>NukeCon</strong> – a PDB-based tool for understanding conformational aspects of interactions between proteins and nucleosides or nucleotides.
<br/>
<p>
Source codes: <a href="https://github.com/spirali/nukecon">https://github.com/spirali/nukecon</a>
</p>
<p>
<p>
<table>
	<tr>
	{% for c in components %}
		<td><a href="{{ url_for("results", component=c) }}">{{ c|upper }}</a></td>
	{% endfor %}
	</tr>
</table>
</p>

</p>
{% endblock %}
