{% extends "base.html" %}

{% block title %}Report for {{ component }}{% endblock %}

{% block content %}
{% if structures %}

<h2>Results</h2>

<ul>
    <li>Number of processed structures: {{ structures|count }} ({{ without_residue }} structures without {{ component }})
    <li>Number of found conformations: {{ total }}
</ul>

<img src="{{ polar_chart }}"/>

<h3>Distribution of conformations based on conformational analysis</h3>

<ul>
    {% for name, count, pc in dir_counts %}
    <li> {{ name }}: {{ count }} ({{ pc|round(2) }}%)</li>
    {% endfor %}
</ul>
<img src="{{ dir_counts_img }}"/>

<h3>Allover percentage of conformations of sugar ring and C4-C5</h3>

<table>
<thead>
<tr>
    <th></th>
    {% for name in dir_names %}
    <th>{{ name }}</th>
    {% endfor %}
</tr>
</thead>
<tbody>
    {% for name, row in sugar_table %}
<tr>
    <td>{{ name }}</td>
    {% for c in row %}
    <td>{{ c|round(2) }}%</td>
    {% endfor %}
</tr>
    {% endfor %}
</table>

<img src="{{ sugar_chart }}"/>

<h3>Percentage within individual conformations</h3>

<table>
<thead>
<tr>
    <th></th>
    {% for name in dir_names %}
    <th>{{ name }}</th>
    {% endfor %}
</tr>
</thead>
<tbody>
    {% for name, row in sugar_rel_table %}
<tr>
    <td>{{ name }}</td>
    {% for c in row %}
    <td>{{ c|round(2) }}%</td>
    {% endfor %}
</tr>
    {% endfor %}
</table>

<img src="{{ sugar_rel_chart }}"/>

<h3>Results by structures</h3>

<table>
<thead>
<tr>
    <th>ID</th>
    <th>Chain ID</th>
    <th>{{ component }} residues</th>
    <th>EC numbers</th>
</tr>
</thead>
<tbody>
    {% for structure, chains in results_by_chains %}
<tr>
    <td>{{ structure.id }}</td>
    <td>{{ chains[0][0].id }}</td>
    <td>{{ chains[0][1]|count }}</td>
    <td>{{ chains[0][0].ec_numbers_str }}</td>
</tr>
    {% for chain, results in chains[1:] %}
<tr>
    <td></td>
    <td>{{ chain.id }}</td>
    <td>{{ results|count }}</td>
    <td>{{ chain.ec_numbers_str }}</td>
</tr>
    {% endfor %}
    {% endfor %}
</table>

<h2>Rejected residues</h2>
{% if rejected %}
{{ rejected|count }} structures were rejected because of the following reasons:
    <table class="redtable">
    <thead>
    <tr>
        <th>ID</th>
        <th>Chain</th>
        <th>Residue</th>
        <th>Reason</th>
    </tr>
    </thead>
    <tbody>
        {% for row in rejected %}
    <tr>
        <td>{{ row[0] }}</td>
        <td>{{ row[1] }}</td>
        <td>{{ row[2] }}</td>
        <td>{{ row[3] }}</td>
    </tr>
        {% endfor %}
    </table>
{% else %}
    No residue was rejected from the computation.
{% endif %}

{% else %}
There is no downloaded structure that meets the criteria.
{% endif %}
{% endblock %}
