{% extends "base.html" %}

{% block title %}Summary for {{ component }}{% endblock %}

{% block content %}
{% if filters %}
<h2>Filters</h2>
<ul>
{% for filter in filters %}
<li>{{ filter }}</li>
{% endfor %}
</ul>
{% endif %}
{% if structures %}
<h2>Summary</h2>
{% for img in imgs %}
<img src="{{ img }}"/><br/>
{% endfor %}
<h2>List of structures</h2>
<table>
<thead>
<tr>
    <th>ID</th>
    <th>Downloaded</th>
    <th>Resolution</th>
    <th>Experimental technique</th>
</tr>
</thead>
<tbody>
    {% for s in structures %}
<tr>
    <td>{{ s.id }}</td>
    <td>{% if s.downloaded %}<span class="yes">Yes</span>{% else %}<span class="no">No</span>{% endif %}</td>
    <td>{% if s.resolution %}{{ s.resolution }}{% else %}<span class="no">N/A</span>{% endif %}</td>
    <td>{{ s.exp_technique }}</td>
</tr>
    {% endfor %}
</table>
{% else %}
There is no structure. Use command <strong>'update {{ component }}'</strong> to fetch the list of structures.
{% endif %}
{% endblock %}
